{{- if .Values.persistence.enabled }}
{{- if .Values.blueGreen.enabled }}
{{- range $slot := list "blue" "green" }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "noaa-oracle.fullname" $ }}-{{ $slot }}
  labels:
    {{- include "noaa-oracle.labels" $ | nindent 4 }}
spec:
  accessModes:
    - {{ $.Values.persistence.accessMode }}
  {{- if $.Values.persistence.storageClass }}
  storageClassName: {{ $.Values.persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ $.Values.persistence.size }}
{{- end }}
{{- else }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "noaa-oracle.fullname" . }}
  labels:
    {{- include "noaa-oracle.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
{{- end }}
{{- end }}
